<%= render 'devise/shared/user_info', user: @user %>
<%= render 'devise/shared/new_book', book: @book %>

<h2>Books</h2>
<table>
 <thead>
  <tr>
   <th>Title</th>
   <th>Option</th>
  </tr>
 </thead>
 <%= @books.each do |book| %>
 <tbody>
  <tr>
   <td><!--投稿ユーザー画像-->
    <%= image_tag book.user.get_profile_image(100,100) %>
   </td>
   <td>
    <%= book.title %>
   </td>
   <td>
    <%= book.body %>
   </td>
  </tr>
 </tbody>
 <% end %>
</table>
