
<div class="col-md-3">
    <%= render 'devise/shared/user_info', user: @user %>
    <%= render 'devise/shared/new_book', book: @book_new %>
</div>

<div class='col-md-8 offset-md-1'>
 <h2>Book detail</h2>
 <table class="table">
  <tbody>
    <tr>
      <td>
        <div><%= link_to image_tag(@book.user.get_profile_image(100,100)), user_path(@book.user) %></div>
        <div><%= link_to @book.user.name, user_path(@book.user) %></div>
      </td>
      <td>
        <%= link_to @book.title, book_path(@book) %>
      </td>
      <td>
        <%= @book.body %>
      </td>
      <td>
        <% if @book.user == current_user %>
         <%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success edit_book_83203" %>
        <% end %>
      </td>
      <td>
        <% if @book.user == current_user %>
         <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-sm btn-danger destroy_book_83203" %>
        <% end %>
      </td>
    </tr>
  </tbody>
 </table>
</div>